# Variables d'environnement Notion (exemple)
NOTION_TOKEN=*** -- URL de la base de données Notion Formations
# Voir https://app.notion.com/p/37d9628038de80e8803be069bdbc0aa2
NOTION_FORMATIONS_DB_ID=37d96280-38de-80e8-803b-e069bdbc0aa2
NOTION_CASE_STUDIES_DB_ID=37f96280-38de-814d-9534-da549cbb76e9
NOTION_RESOURCES_DB_ID=37f96280-38de-814b-be57-ff8dd53fa940
# Cal.com — URL de prise de RDV
CAL_URL=https://cal.eu/alliance-digitale/decouverte-30-min
